<form class="form-horizontal">
  <div class="row" ng-repeat="section in configuration">
    <h4 class="text-uppercase">
      {{ section.name }}
      <a role="button" tooltip-placement="left" tooltip="Save All" class="pull-right btn btn-primary btn-sm" ng-click="save()"><i class="fa fa-save"></i></a>
    </h4>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="config in section.values">
        <label class="text-capitalize">
          {{ config.key }}
          <div ng-if="config.choices">
            <input ng-if="!!config.typeahead" type="text" ng-model="config.value" typeahead="choice as choice.display for choice in config.choices | filter:$viewValue | limitTo:8" class="form-control">

            <select ng-if="!config.typeahead" class="form-control" ng-model="config.value" ng-options="key as value for (key, value) in config.choices">
              <option ng-if="config.default" value="">{{ config.default }}</option>
            </select>
          </div>
          <input ng-if="!config.choices" type="{{ config.type || 'text'}}" tooltip-placement="right" tooltip="{{ config.help }}" class="form-control" ng-model="config.value">
        </label>
      </li>
    </ul>
  </div>

  <div class="row">
    <h4 class="text-uppercase">
      Sources
      <a role="button" tooltip-placement="left" tooltip="Save All" class="pull-right btn btn-primary btn-sm" ng-click="save()"><i class="fa fa-save"></i></a>
      <a role="button" tooltip-placement="left" tooltip="Update" class="pull-right btn btn-primary btn-sm" ng-click="update()"><i class="fa fa-refresh"></i></a>
    </h4>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="source in sources">
        <div class="input-group">
          <label>
            Path
            <input class="form-control" ng-model="source.path">
          </label>
          <label>
            Type
            <select class="form-control" ng-model="source.type" ng-options="key as value for (key, value) in source_types">
            </select>
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="input-group">
          <label>
            Add
            <button class="form-control label label-success" ng-click="addNewSource()"><i class="fa fa-plus"></i></button>
          </label>
          <label>
            Path
            <input class="form-control" ng-model="new_source_path">
          </label>
          <label>
            Type
            <select class="form-control" ng-model="new_source_type" ng-options="key as value for (key, value) in source_types">
            </select>
          </label>
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <h4 class="text-uppercase">
      Stats <i class="fa fa-bar-chart"></i>
    </h4>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="(key, stat) in stats">
        <p class="text-capitalize">
        <strong>{{ ::key }}:</strong> {{ ::stat }}
        </p>
      </ul>
    </ul>
  </div>
</form>
