[Unit]
Description=Aesop's subtitle retrieval service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -m aesop.subtitles

[Install]
WantedBy=default.target
